
@media only screen and (max-width: 1165px){
   
    .navbar-nav a{
        font-size: 0.87rem;
    }
    
}

@media only screen and (max-width: 991px){
    .navbar-default{
        display: none;
    }
    .navbar{
        display: flex !important;
    }
}

@media only screen and (max-width: 490px){
    #textoPrincipalCabecalho h6{
        font-size: 0.89em !important;
        
    }
     .div-imagem #logoEvento{
         width: 420px;
         height: 90px;
     }
}

@media only screen and (max-width: 470px){
    #textoPrincipalCabecalho h6{
        font-size: 0.85em !important;
        
    }
     .div-imagem #logoEvento{
         width: 400px;
         height: 70px;
     }
}

@media only screen and (max-width: 450px){
    #textoPrincipalCabecalho h6{
        font-size: 0.89em !important;
        font-weight: 900 !important;
        
    }
    #textoPrincipalCabecalho #sigla{
        display: none;
    }
     .div-imagem #logoEvento{
         width: 370px;
         height: 60px;
     }
}

@media only screen and (max-width: 435px){
    #textoPrincipalCabecalho h6{
        font-size: 0.89em !important;
        font-weight: 900 !important;
        
    }
    #textoPrincipalCabecalho #sigla{
        display: none;
    }
    #textoPrincipalCabecalho h6{
        align-items: left !important;
        margin-left: 60px;
        text-align: left;
    }
     .div-imagem #logoEvento{
         width: 370px;
         height: 60px;
     }
}

@media only screen and (max-width: 376px){
    #textoPrincipalCabecalho h6{
        font-size: 0.89em !important;
        font-weight: 900 !important;
        
    }
    #textoPrincipalCabecalho #sigla{
        display: none;
    }
    #textoPrincipalCabecalho h6{
        align-items: left !important;
        margin-left: 45px;
        text-align: left;
    }
     .div-imagem #logoEvento{
         width: 340px;
         height: 60px;
     }
}